<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd">
                  
      <!-- <bean class="test.IPhone" id="apple" lazy-init="true" init-method="initMethod"/> -->
      <!-- == IPhone apple = new IPhone(); -->
      <!-- <bean class="test.GalaxyPhone" id="samsung" lazy-init="true" scope="prototype"/> -->
      
      <bean class="test.AppleWatch" id="appleWatch"/>
      <bean class="test.GalaxyWatch" id="galaxyWatch"/>
</beans>