@charset "UTF-8";

div {
    border: 1px solid black;
}

:root{
    /* font-size */
    
}

/* 전체 컨테이너 */
.container {
	width: 100%;							/* 컨테이너의 너비를 브라우저 100%로 지정 */
	max-width: 1200px;						/* 최대 너비 */		
	margin: 0 auto;							/* 여백 위아래 : 0, 양옆 : 가운데 정렬 */
	padding: 20px;							/* 컨테이너 안의 내부 여백 20px 지정 */
	font-family: 'Arial';					/* 폰트 Arial 지정 */
    display: flex;
    flex-flow: column;
}

.height-title {
    height: 10%;
}

.height-search {
    height: 100%;
}

.height-list {
    height: 10%;
}